@import 'base.css';
@import 'home';
@import 'footer';
@import 'jquery.gdszoom.css';
// @import 'jquery.lxcarousel.css';
 // 版心
.u-flyer {display: block;width: 50px;height: 50px;border-radius: 50px;position: fixed;z-index: 9999;}
 .car_container{
	width: 1200px;
	margin : 0 auto;
	.car_top{
		height: 594px;
		// border:1px solid #c0c0c0;
		// 头部容器左边
		>.lis{
			width: 450px;
			float: left;
			height: 500px;

			// ul
			.lis_l{
				width: 450px;
				height: 45px;
				>li{
					float: left;
					padding: 10px 5px;
					a:last-child{color:#f00;}
					a{
						font-size: 12px;
					}
					>span{
							display: in-block;
							margin-left:7px; 
						}
				}
			}
			.shopp_zoom{
				width: 400px;
				height: 400px;
				border: 1px solid #c0c0c0;
				border-bottom:0; 
			}
			.shopping_bo{
				width: 400px;
				height: 90px;
				.listsm{
					border: 2px solid #c0c0c0;
					padding-top: 10px;
					height: 90px;
					>li{
						border:1px solid #fff;
						box-sizing:border-box;
						float: left;
						margin-left: 5px;
						margin-right: 5px;
						&:hover{
								border:1px solid #f00;
							}
						img{	
											
						height: 64px;
						width: 64px;
						}
					}
				}
			}
			.small_icon{
				width: 400px;
				height: 58px;
				border: 1px solid #c0c0c0;
				border-top:0; 
				span:first-child{padding-left:50px;}
				span:last-child{margin-left:70px;color:#fc0}
				span:nth-child(2){color:yellow;}
				span:nth-child(3){color:#f00;}
				span:nth-child(4){color:#34C;}
				span:nth-child(5){color:#0277E9;}

				>span{
					display: in-block;
					height: 50px;
					padding-right: 10px;
					line-height: 50px;
					width: 400px;
				}
			}
		}
		.lisri{
			float: left;
			width: 500px;
			padding-top: 45px;
			>P{
				margin: 0 auto;
				font-size: 18px;
				display: table;
				color: #000;
			}
			.cont{
				height: 150px;
				background: #F6F6F6;
				>span{
					display: block;
					font-size: 16px;
					height: 45px;
					padding:13px;				
					>i{
						display: in-block;
						width: 39px;
						margin-left: 5px;
						margin-right:4px;
						font-size: 24px;
						color: #f00;
					}
					.heh{
						color: #fff;
						background:#f00;
					}
				}

			}
			.shop_gou{
				p:nth-child(2){padding-left:10px;}
				>p{	
					height: 40px;
					padding-top:10px;
					font-size: 12px;
					border-bottom: 2px dotted #ccc;
					i{
						margin-left: 5px;
						margin-right: 5px;
						display: in-block;
						color: #f00;
					}
				}
				.nub{
					height: 40px;
					padding-top: 10px;
					p{
						height: 26px;
						padding-left: 10px;
						>span{
							display:inline-block;
							border: 1px solid #c0c0c0;
							height: 26px;
							font-size: 12px;
							text-align: center;
							line-height: 26px;
							width: 50px;
						}
					}
					
				}

			}
			.goumai{
				height: 80px;
				padding-top: 15px;
				padding-left: 35px;
				>button{
					border:0;
					outline: none;
					cursor: pointer;
					background:#FEE;
					margin-right: 15px;
					border: 1px solid #f00;
					display: block;
					float: left;
					width: 170px;
					height: 40px;
					color: #f00;
					font-size: 20px;
					line-height: 40px;
					text-align: center;
					>i{
						font-size: 24px;
					}
				}
				.goumai_word{
					display: in-block;
					text-align: center;
					height: 40px;
					line-height: 40px;
					font-size: 12px;
					color:#000;
					.iconfont{
						color: #ccc;
						font-size: 20px;
					}
				}
			}
		}
		.lisyou{
			padding-left: 20px;
			// width: 90px;
			&p:first-child{padding-left: 50px;}
			>p{
				display: inline-block;
				width: 235px;
				height: 80px;
				line-height: 80px;
				text-align: center;
			}
			>a{
				display:inline-block;
				padding-left: 40px;
			}
		}
	}
	.car_main{
		padding-top: 30px;
		width:200px;
		.midCont{
			margin-bottom: 20px;
			// float: left;
			width: 200px;
			height: 160px;
			border: 1px solid #c0c0c0;
			p{
				height: 30px;
				padding-left: 5px;
				line-height: 30px;
				font-size: 16px;
				background: #F7F7F7;
				border-bottom:1px solid #c0c0c0;
			}
			.midCont_inner{		
				>div{
					float: left;
					width: 90px;
					padding-left: 10px;
					>ul{
						padding-top: 10px;
						>li{
							height: 30px;
							>a{
								color: #000;
								font-size: 14px;
								&:hover{
									color:#f00;
								}
							}
						}
					}

				}
			}
		}
	}
	.car_cont{
		float:left;

	}
 }