.rightFixeBar .rightFixeBar_inner { position: fixed; right: 0; top: 0; width: 32px; height: 100%; background: #eaeaea; text-align: center; color: #fff; padding-top: 90px; }

.rightFixeBar .rightFixeBar_inner a:nth-child(7) { margin-top: 40px; }

.rightFixeBar .rightFixeBar_inner > a { padding: 10px 4px; color: #f00; display: block; font-size: 18px; cursor: pointer; }

.rightFixeBar .rightFixeBar_inner > a:hover { background: #f00; color: #fff; }

.rightFixeBar .rightFixeBar_inner > a .fbgou { display: block; }

.head_top { background: #F7F7F7; width: 100%; height: 26px; }

.head_top .buyWineTop_inner { margin: 0px auto; width: 1200px; background: #F7F7F7; }

.head_top .buyWineTop_inner .byDatails { float: left; width: 100px; height: 26px; color: #444444; }

.head_top .buyWineTop_inner .byDatails:hover { background: #fff; color: #EC7174; }

.head_top .buyWineTop_inner .byDatails:hover i { transition: all .5s ease-in; transform: rotate(-180deg); }

.head_top .buyWineTop_inner .byDatails div { padding: 5px; }

.head_top .buyWineTop_inner .byDatails div i { display: inline-block; margin: 1px; }

.head_top .buyWineTop_inner ul { float: right; height: 26px; }

.head_top .buyWineTop_inner ul li { float: left; height: 26px; padding: 4px 20px; }

.head_top .buyWineTop_inner ul li a { font-size: 12px; color: #333333; }

.head_top .buyWineTop_inner ul li a:hover { color: #EC7174; }

.head_top .buyWineTop_inner ul li a.hong { color: #F90000; }

.head_top .buyWineTop_inner ul li a.Cblu { color: #01B0DF; margin-left: 4px; }

.head_top .buyWineTop_inner ul li i { margin: 5px; }

#container { width: 1200px; margin: 0 auto; }

#container .seek { height: 120px; padding-top: 20px; }

#container .seek .tu1 { float: left; width: 220px; }

#container .seek .tu2 { float: left; width: 220px; }

#container .seek .search { width: 540px; height: 90px; float: left; padding-top: 15px; }

#container .seek .search form { height: 43px; }

#container .seek .search form .text1 { padding-left: 5px; width: 450px; height: 40px; border: 4px solid #CE000C; border-right: 0; float: left; }

#container .seek .search form .button1 { width: 65px; height: 40px; background: #CE000C; float: left; border: 0; color: #fff; }

#container .seek .search .search_cls { height: 30px; float: left; width: 540px; padding-top: 5px; }

#container .seek .search .search_cls > li { height: 20px; float: left; border-right: 1px solid #CCC; padding: 1px 10px; }

#container .seek .search .search_cls > li > a { font-size: 14px; color: #F90000; }

#container .seek .shopp_btn { margin-top: 30px; float: right; width: 220px; padding-left: 40px; height: 50px; }

#container .seek .shopp_btn a { display: inline-block; height: 40px; width: 180px; font-size: 16px; line-height: 40px; text-align: center; background: #F7F7F7; border: 1px solid #ccc; }

#container .seek .shopp_btn a > i { margin: 3px; color: #CE000C; }

#container .nav_bar { height: 36px; }

#container .nav_bar .nav_bar_lei { float: left; text-align: center; font-size: 16px; line-height: 36px; display: inline-block; width: 200px; height: 36px; color: #fff; background: #9B0009; }

#container .nav_bar .nav_main { float: left; width: 800px; background: #fff; height: 36px; }

#container .nav_bar .nav_main > li { float: left; padding: 7px 20px; }

#container .nav_bar .nav_main > li a { font-size: 16px; color: #0D0D0F; position: relative; }

#container .nav_bar .nav_main > li a.nav_shou { color: #CE000C; }

#container .nav_bar .nav_main > li a i { color: #CE000C; right: -15px; top: -10px; position: absolute; }

#container .nav_bar .nav_gif { width: 190px; height: 36px; float: right; background: #ccc; }
